.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
  }
  
  .question-heading {
    margin-bottom: 20px;
  }
  
  .question-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .question-options label {
    display: block;
    margin-bottom: 10px;
  }
  
  .question-button {
    padding: 10px;
    background-color: #0077c2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .question-button:hover {
    background-color: #005ea3;
  }
  
  .result-text {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
  }
  